<%- include('../partials/header.ejs')  %>

    <title>LISTAGEM DO ESTILO MARCIAL</title>

</head>

<body>
    
    <div class="container">

        <%- include('../partials/menu.ejs')  %>

        <div class="card mt-2">
            <div class="card-header">LISTAGEM DE ARTES MARCIAIS</div>
        </div>

        <%
             artesMarcial.forEach(artes=>{
        %>

            <div class="card mt-2">

                <div class="card-body">
                    <%= artes.estiloMarcial %>
                </div>

                <a href="/formEdicaoArtes/<%= artes.id %>" class="btn btn-success mt-1">EDITAR</a>
                <a href="/excluirArtesMarcial/<%= artes.id %>"  class="btn btn-danger mt-1">EXCLUIR</a>

            </div>

        <% }) %>

    </div>

</body>

<%- include('../partials/footer.ejs')  %>